

body {
  background-image:url(background.jpeg);
}

.container{
  max-width:1350px;
  margin:auto;

}
.test{
  height:0px;
}
.cover{
  width: 200px;
  height: 200px;
  vertical-align: middle;
  float:left;
  margin:auto;
  -webkit-transition: all 0.3s; // Chrome
    -moz-transition: all 0.3s; // Mozilla
    -o-transition: all 0.3s; // Opera
    transition: all 0.3s;
}
.coverHovered{
  transform: rotate(3deg);
  box-shadow :10px 10px 3px #888;
  width: 220px;
  height: 220px;

}

 .list{
   margin-top:25px;
   width:200px;
   float:left;
   vertical-align:top;
   margin-left:10px;
 }
.album {
  width: 220px;
  height: 220px;
  margin:10px;
  display: inline-block;
}
.albumExtend{

  position: fixed;
  display: block;
  color: white;
  boxShadow: 0px 0px 0px #000000;
  z-index:9999;
  background-color: black;
}

 .secret{
   display: none;
 }
 span.secret{
   font-size:15px;
   margin: 8px;
 }
 .secretExtended{
   display:inline-block;
 }

 span.secretExtended{
   display:block;
 }
 .album li{
   margin:5px;
 }
 .selected{
   background-color: #424242;
 }
 .selected  img{
   float: right;
   width:  10px;
   height: 10px;
   margin-top: 5px;
 }
 .place_holder{
   width: 220px;
   height: 220px;
   display: inline-block;

 }
#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9998;
}


.close {
	float: right;

}
